html,
body,
#map {
  height: 100%;
  width: 100%;
  margin: 0;
}

.sidebar-container {
  position: relative;
  box-sizing: border-box;
  overflow: auto;
  padding: 10px;
  width: 45vh;
  height: 100vh;
  background-color: rgb(171, 173, 187);
  text-align: justify;
  float: right;
  z-index: 900;
}

.move {
  margin-right: 45vh;
}
